table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: poppins;
    padding: .4vw;
    text-align: center;
}
table{
    width:100%;
}

th{
    font-size: 1.2vw;
    font-weight: 700;
}
td{
    font-size: 1.2vw;
}